h1{
    color: rgb(255,17,34);
    font-size: 100px;
    font-family: Arial;
    font-width: 400;
    /*Do dam nhat*/
    line-height: 1.5;
    text-decoration: none;
    background-color: beige;
    /*mau nen di theo do rong phan tu*/
}